<div class="game page">
    <div class="point">
        <div class="text"><div title="<%=data.text.get('point')%>" class="img"></div><span id="hit"></span></div>
    </div>
    <div class="buffMessage h-center v-center">
    </div>
    <div class="slimeRest">
        <div class="text"><span id="nbrSlime"></span> / <span id="maxSlime"></span><div class="img" title="<%=data.text.get('nbrSlime')%>"></div></div>
    </div>
    <ul class="buffs">
    </ul>
    <div class="cible"></div>
    <div class="hitbox explosion"></div>
    <div class="hitbox exploser"></div>
	
	<div class="background"></div>
</div>

<div class="page didactitiel">
	<div class="text h-center v-center"></div>
</div>

<div class="page row" id="cinematique">
	<div id="skip" class="text skip"><%=data.text.get('skip')%></div>
    <div class="case" id="c1"></div>
    <div class="case" id="c2"></div>
    <div class="case" id="c3"></div>
    <div class="case" id="c4"></div>
    <div class="case" id="c5"></div>
    <div class="case" id="c6"></div>
    <div class="case" id="c7"></div>
    <div class="case" id="c8"></div>
</div>